@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
}
#content {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 80px 0 40px;
/*	background: url(img/bg1.jpg) no-repeat center;
	background-size: cover;
	position: relative;
	z-index: 0;
	overflow: hidden;
}
#content:before {
	content: "";
	background: inherit;
	filter: blur(10px);
	position: absolute;
	top: -10px;
	right: -10px;
	left: -10px;
	bottom: -10px;
	z-index: -1;*/
}
a {
	color: #fff;
}
a:visited {
	color: #fff;
}
#flag {
	background: url(spojump.jpg) no-repeat center;
	background-size: cover;
	text-align: center;
	width: 400px;
	margin: 0 auto;
}
#flag img {
	width: 80%;
}
ul#answer {
	list-style-type: none;
	text-align: center;
	width: 560px;
	margin: 80px auto 0;
	padding: 0;
	font-size: 24px;
}
ul#answer li {
	margin: 10px auto 0;
}
ul#answer li a {
	display: block;
	background-size: contain;
	text-decoration: none;
	padding: 30px 0;
}
ul#answer li a:active {
	position: relative;
	top: 4px;
}
li#li1 a {
	background: url(spojump.jpg) no-repeat center;
}
li#li2 a {
	background: url(spojump.jpg) no-repeat center;
}
li#li3 a {
	background: url(spojump.jpg) no-repeat center;
}
li#li4 a {
	background: url(spojump.jpg) no-repeat center;
}
dl#level {
	position:absolute;
	list-style-type: none;
	background-color: #303f72;
	text-align: center;
	color: #fff;
	width: 100px;
	top: 1.5%;
	right: 2%;
	margin: 0;
	padding: 0;
}
dl#level dt {
	cursor: pointer;
	border: 1px solid #aaa;
	border-collapse: collapse;
	margin: 0;
	padding: 10px;
}
dl#level dd {
	border: 1px solid #aaa;
	border-collapse: collapse;
	width: 100%;
	margin: 0;
}
dl#level a {
	display: block;
	background-color: #eee;
	color: #000;
	text-decoration: none;
	padding: 10px;
}
dl#level a.active {
	background-color: #c0ccf9;
}

@media only screen and (max-device-width: 480px) {

#content {
	padding: 150px 0 100px;
}
#flag {
	width: 90%;
}
ul#answer {
	width: 100%;
	margin: 150px auto 0;
	font-size: 40px;
}
ul#answer li {
	max-width: 960px;
	margin: 10px auto 0;
}
ul#answer li a {
	padding: 60px 0;
}
dl#level {
	width: 200px;
	font-size: 36px;
}
dl#level dt {
	margin: 0;
	padding: 20px;
}
dl#level dd {
	margin: 0;
	padding: 0;
}
dl#level a {
	margin: 0;
	padding: 20px;
}

}